/* Preset */
html {
  scroll-padding-top: 80px;
}
img {
  max-width: 100%;
}

/* Utilities */
.section-title {
  text-align: center;
  position: relative;
}
.section-title span {
  color: #0d6efd;
}
.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: #0d6efd;
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Top Header */
.top-header a {
  color: white;
  text-decoration: none;
}

/* Navigation Menu */
.navbar-brand img {
  width: 200px;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) ,url(images/header-image.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}
.hero-section .container, .hero-section .row {
  height: 100%;
}

/* About Section */
@media screen and (min-width: 768px) {
  .about img {
    width: 450px;
  }
}

/* Services Section */
.services {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) ,url(images/services-section.jpg);
  background-size: cover;
  background-position: center;
}